<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RansomwareDetection.Properties.Settings.RansomwareDetectionConnectionString" connectionString="Data Source=|DataDirectory|\RansomwareDetection.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
